<!--<div class="row">
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                <div class="col-md-6">
                  
                  <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['state'].valid && complexForm.controls['state'].touched}">
                    <label class="control-label"><abbr title="required">*</abbr>State</label>
                    <select class="form-control" formControlName="state" [formControl]="complexForm.controls['state']" (change)="fetchCities($event.target.value)">
                        <option value="0">--Select State--</option>  
                        <option *ngFor="let type of states" [value]="type.StateId">{{type.StateName}}</option>
                    </select>
                    <div *ngIf="complexForm.controls['state'].hasError('required') && complexForm.controls['state'].touched"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['city'].valid && complexForm.controls['city'].touched}">
                    <label class="control-label"><abbr title="required">*</abbr>City</label>
                    <select class="form-control" formControlName="city" [formControl]="complexForm.controls['city']">
                       <option *ngFor="let type of cities" [value]="type.id">{{type.CityName}}</option>
                    </select>
                    <div *ngIf="complexForm.controls['city'].hasError('required') && complexForm.controls['city'].touched"></div>
                  </div>
                </div>
  </form>
              </div>
             -->



              <div>
                
        <label>State</label>
        <div>
            <select class="form-control" (change)="fetchCities($event.target.value)">
                        <option *ngFor="let type of states" [value]="type.StateId">{{type.StateName}}</option>
            </select>
        </div>
    </div>

      <div>
        <label>City</label>
        <div>
            <select class="form-control">
                        <option *ngFor="let type of cities" [value]="type.id">{{type.CityName}}</option>
            </select>
        </div>
    </div>
